
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.app {
    height:"1500px";
    background:'cornflowerblue';
}

.featured_container {
    position:'relative'
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #363535;
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #8d5f1a;
}
.bck_yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}


/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    background: red;
}

footer .footer_copyright {
    font-size: 18px;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}
