/* colors:
#1A2530 : dark 
#34495E : dark blue
#EFC94C : yellow
#E27A3F : orange
#DF4949 : pink
 */


body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.app {
    height:"1500px";
    background:'cornflowerblue';
}

.featured_container {
    position:'relative';
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #1A2530;
}
.bck_white {
    background: #dfdcdc;
}
.bck_red {
    background: #E27A3F;
}
.bck_yellow {
    background: #EFC94C;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 90%;
    max-width: 900px;
    margin:0 auto;
}

.section_heading {
    text-align: center;
    text-transform: uppercase;
    color:#34495E;
    font-size: 52px;
}

.section_sub_heading {
    text-align: center;
    text-transform: uppercase;
    color:#34495E;
    margin-top: -30px;
    font-size: 16px;
}


.background_image {
    background-size: cover !important;
}

.hidden{
    display: none;
}

/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}


/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    background: #34495E;
    position: relative;
}

footer .footer_copyright {
    font-size: 18px;
}

.footer_background-cover {
    background-color: rgba(185, 85, 105, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    overflow: hidden;
}

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown_wrapper .countdown_top {
    background: #E27A3F;
    ;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: #E27A3F;
    ;
    padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
    font-size: 70px;
    border-right: 1px solid #d4cfc6;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

/*====================
    Event Description
======================*/

.event_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

.employer_wrapper {
    display: flex;
    padding: 70px 0px;
}

@media only screen and (max-width: 768px) {
    .employer_wrapper {
        display: block;
    }
}

.employers_count {
    padding-right: 100px;
}

.employers_count span:nth-child(1) {
    color: #E27A3F;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.employers_count span:nth-child(2) {
    color: #34495E;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.employee_description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: #34495E;
}

.employee_description p { 
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}


/*====================
        Event NFO
======================*/

.info_wrapper {
    display: flex;
    padding: 170px 0px;  
}

.info_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .info_wrapper {
        display: block;
    }
    .info_item {
        width: 100%;
    }
    .info_item_2 {
        margin-top: 100px;
    }
}
                      
.info_item .info_outer {
    width: 300px;
    border: 2px solid #34495E;
    margin: auto;
    padding: 5px;
}

.info_item .info_inner { 
    border: 2px solid #34495E;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.info_item .info_inner:hover {
    background: #34495E;
}

.info_item .info_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.info_item .info_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.info_item .info_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #34495E;
    padding-bottom: 10px;
}

.info_item .info_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
       Map
======================*/

.map_icon{
    width: 50px;
    height: 50px;   
    
}


/*====================
        EMPLOYERS
======================*/
.employers_wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color:#1A2530;
    font-size: 52px;
}

.employers_wrapper .employers_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

/* .company-logo-container {
    max-width: 1000px;
    margin: 20px auto; 
} */

.company-logo {
    height: 110px;
    margin: 20px;
    width: 110px;
}

/*====================
        RegForm
======================*/

.reg_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    padding: 30px 0px;
}

.reg_form {
    margin-left: -2%;
}

.reg_success_message {
    color: green;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.input {
    padding: 5px 2%;
    display: inline-block;
}

.col1-1{
    width: 96%;
}

.col1-2{
    width: 46%;
}

.col1-3{
    width: 29.3333%;

}

@media only screen and (max-width: 768px) {
    .col1-2{
        width: 96%;
    }
    
    .col1-3{
        width: 96%;
    }
}

.reg_input{
    background: rgba(237,215,213,.18);
    color: #1A2530;
    border: 2px solid #e5e5e5;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 16px;
}

.submit_btn {
    background: #E27A3F;
    color: #FFF;
    border: 0;
    padding: 15px 30px;
    font-size: 16px;
    float: right;
    margin-right: -3%;
}